@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    color: #333333;
    font-family: "Noto Sans KR", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header#header */
header#header {
    width: 100%;
    height: 100px;
    background-color: #5f085f;
}

#header  {
    padding-top: 10px;
    display: inline-block;
}

/* main#main */
main#main {
display: flex;
}

#main div#manage_bbs {
    width: 220px;
    margin-top: 67px;
    margin-left: 10px;
}
#main ul#lnb_menu {
    width: 200px;
}

#main ul#lnb_menu li {
    border: 1px solid #eee;
}

#main ul#lnb_menu li:not(:first-child) {
    border-top: none;
}

#main ul#lnb_menu li a {
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    display: inline-block;
}
#main ul#lnb_menu i {
    color: #5f0855;
    padding-right: 10px;
}

#main ul#lnb_menu li:nth-child(2) a {
    color: #5f0855;
    width: 200px;
    background-color: #f7f7f7;
}

div#bbs {
    width: 1600px;
    margin-right: 10px;
}

/* 고객검색 */

div#bbs {
    padding-left: 20px;
}

div#bbs h1 {
    padding: 10px 0;
}


div#bbs_search table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

#bbs_search table#bbs_info th {
    width: 100px;
    height: 40px;
    font-size: 12px;
    text-align: left;
    padding-left: 6px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}

#bbs_search table#bbs_info td {
font-size: 12px;
padding-left: 6px;
border: 1px solid #ddd;
}

table#bbs_info tr:first-child td {
    position: relative;
}

table#bbs_info tr:first-child td div {
    position: absolute;
    top: 5px;
    left: 200px;
}

table#bbs_info tr:first-child td div i {
    color: #888;
    font-size: 18px;
    cursor: pointer;
}


#bbs_search table#bbs_info ul#date_search {
    width: 160px;
    display: flex;
}

table#bbs_info ul#date_search li a {
    width: 40px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border: 1px solid #ddd;
    display: inline-block;
}

table#bbs_info ul#date_search li:hover a {
    color: #ffffff;
    background-color: #971097;
}

table#bbs_info ul#date_search li:not(:first-child) a {
    border-left: none;
}

#bbs_search table#bbs_info input, select {
    padding: 4px;
    border: 1px solid #ddd;
    outline: none;
}



#bbs_search table#bbs_info label {
    margin-right: 8px;
}

div#search_btn_Area {
    width: 100%;
    text-align: center;
}

button#goods_search {
    color: #888888;
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    outline: none;
    margin-left: 4px;
}

button#searchBtn {
    color: #5f085f;
    width: 100px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #5f085f;
    outline: none;
    margin-top: 20px;
    background-color: #fff;
    cursor: pointer;
}

button#searchBtn:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: #5f085f;
}


/* 고객검색결과 테이블 */

div#bbs_list {
    margin-top: 20px;
}

#bbs table#search_res_table {
    width: 100%;
    font-size: 12px;
    border-top:1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
    background-color: #f7f7f7;
}

div#bbs_top {

    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

div#optionBtn {
    border-top: 1px solid #ddd;
}

div#optionBtn button {
    padding: 4px 6px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    background-color: #f7f7f7;
}

div#bbs_list p {
    font-size: 12px;
    padding-top: 4px;
}

div#bbs_list p span {
    color: #ff0000;
}

#search_res_table thead tr th {
    height: 40px;
}

#bbs_list table#bbs_list_res  {
    width: 100%;
    font-size: 12px;
}

#bbs_list table#bbs_list_res  td {
    height: 100px;
    text-align: center;
}


