@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* 공통영역 */
* {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header영역 */
header#header {
  width: 100%;
}

div#header_top {
  width: 1050px;
  height: 40px;
  padding-top: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav#header_lnb ul#user_lnb {
  font-size: 12px;
  display: flex;
}

nav#header_lnb ul#user_lnb > li > a {
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 8px;
  display: inline-block;
}

/* list  "|" 삽입*/
li.menu::after {
  color: #ddd;
  content: "|";
}

nav#header_lnb ul#user_lnb > li:first-child > a {
  color: #5f0080;
}

nav#header_lnb ul#user_lnb > li span {
  color: #bbb;
  font-size: 13px;
  display: inline-block;
}

ul#user_lnb ul#user_lnbSub {
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  top: 42px;
  display: none;
  z-index: 1;
}

ul#user_lnb ul#user_lnbSub > li {
  padding: 3px 10px;
}

div#headerLogo {
  width: 1050px;
  height: 60px;
  text-align: center;
  /* border: 1px solid #000; */
  margin: 0 auto;
  position: relative;
  top: -20px;

  z-index: -1;
}

/* gnb Menu */

div#gnbArea {
  width: 100%;
  height: 60px;
  background-color: #fff;
  justify-content: space-between;
  /* position: relative; */
}

div#gnbTop {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  
}

#gnb_main > ul {
  display: flex;
}

#gnb_main > ul a {
  width: 140px;
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#gnb_main > ul > li:first-child > a {
  width: 160px;
}

#gnb_main > ul > li:hover > a,
#gnb_main > ul > li:hover > a > i {
  /* border-bottom: 1px solid #000; */
  color: #5f0080;
  /* text-decoration: underline; */
}

.sticky {
  width: 100%;
  margin: 0 auto;

  position: fixed;
  top: 0;
}


/*전체 카테고리 메뉴 아이콘 구성 */

#gnb_main > ul > li > a i {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: -10px;
}

/* nav#search */
nav#search {
  width: 280px;
  line-height: 60px;
  text-align-last: left;
  margin-top: 5px;
  display: flex;
}

div#search_product {
  width: 230px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  margin-top: 6px;
  background-color: #eee;
  position: relative;
}

div#search_product input {
  height: 30px;
  border: none;
  outline: none;
  background-color: #eee;
  margin: 6px 0 6px 14px;
}

div#search_product button {
  border: none;
  position: absolute;
  right: 10px;
  bottom: 8px;
}

div#cart {
  padding: 4px;
  margin-left: 10px;
}

/* gnb_subMenu 전체카테고리 */
div#gnbArea_sub {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: -12px;
  z-index: 999;
  display: none;
}

nav#gnb_sub {
  width: 220px;
  border: 1px solid #eee;
  background-color: #fff;
}

nav#gnb_sub > ul > li > a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  /* border: 1px solid #000; */
  display: inline-flex;
}

nav#gnb_sub > ul > li:hover > a {
  color: #5f0080;
  font-weight: bold;
  background-color: rgba(151, 151, 151, 0.2);
}

nav#gnb_sub > ul > li > a > img {
  padding: 8px;
}

nav#gnb_sub > ul > li > a > img.icon_on {
  padding: 8px;
  display: none;
}

nav#gnb_sub > ul > li > a > span.sub_title {
  height: 40px;
  /* border: 1px solid #000; */
  display: inline-block;
}

nav#gnb_sub > ul > li > a:hover > span {
  color: #5f0080;
}

#gnb_sub ul.innerGnb_sub {
  width: 220px;
  height: 722px;
  border-right: 1px solid #eee;
  background-color: #eee;

  position: absolute;
  top: 0;
  left: 218px;

  transform: translate(-1px, -1px);
  z-index: 999;
  display: none;
}

#gnb_sub ul.innerGnb_sub li > a {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-left: 8px;
}

#gnb_sub ul.innerGnb_sub li:hover a {
  color: #5f0080;
  font-weight: bold;
  text-decoration: underline;
}

/* main slide show */
div#mainSlide {
  height: 370px;
  border-top: 1px solid #eee;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

#mainSlide div#slideFrame_main{
height: 370px;
  display: flex;
  justify-content: space-around;
  position: absolute;
 
}

#mainSlide div#slideFrame_main a {
  width: 100%;
  margin: 0 auto;
}

/* main#main */
main#main {
  width: 1050px;
  margin: 0 auto;
}

section.product_list h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  padding: 30px 0;
}

div.goods_list_container  {
  width: 1050px;
}

div.goods_list_container ul {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

li.goods_list {
  width: 250px;
  height: 500px;
  margin-right: 16px;

}

.goods_list a.zoom_in {
  width: 250px;
  height: 320px;
  display: inline-block;
  overflow: hidden;
}

/* 마우스 hover 했을 때 이미지 확대 애니메이션 */
.goods_list a img, li.goods_eventList a img {
  transform: scale(1.0);
  transition: transform .5s;
}

li.goods_list a img:hover,
li.goods_eventList a img:hover,
li.kurly_recipe a img:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

li.goods_list p {
  font-size: 16px;
  padding: 6px 0;
}

li.goods_list span.goods_price {
  font-weight: bold;
  display: inline-block;
}


li.goods_list span.cost_price {
  color: #ccc;
  font-size: 14px;
  /* font-weight: bold; */
  text-decoration: line-through;
}

/* section_02 */
li.goods_eventList a {
  width: 338px;
  height: 338px;
  display: inline-block;
  overflow: hidden;
}

li.goods_eventList {
  text-align: center;
  padding: 20px 0;
}

li.goods_eventList h4 {
  font-size: 17px;
  padding: 10px 0;
}

li.goods_eventList p {
  color: #888;
}

/* md의 추천 메뉴 버튼 */
section ul#md_rcm {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section ul#md_rcm li a {
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;


  padding: 10px 20px;
  border-radius: 30px;
  margin: 8px 4px;

  background-color: #f7f7f7;
  display: inline-block;
}

section ul#md_rcm li:hover a {
  color: #5f0080;
  background-color: #f7f3f8;
}

.product_list a#new_products p {
  color: #888888;
  text-align: center;
  padding: 10px;
}

/* 컬리의 레시피 */
li.kurly_recipe a {
  width: 338px;
  height: 225px;
  display: inline-block;
  overflow: hidden;
}

li.kurly_recipe p {
  text-align: center;
}