@charset "utf-8";

/* form#joinFrm */
div#userInfo {
  width: 640px;
  margin: 20px auto;
}

#userInfo h2 {
  font-size: 28px;
  text-align: center;
  padding: 20px 0;
}

#userInfo p {
  font-size: 12px;
  text-align: right;
  padding: 10px 0;
}

#userInfo p > span {
  color: #ff0000;
}

#userInfo table {
  width: 640px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}

#userInfo table tr#user_agreements > th {
  vertical-align: top;
}

#userInfo table tr,
th,
td {
  /* border: 1px solid #000; */
  padding: 10px 0;
}

#userInfo table th {
  width: 150px;
  height: 64px;
  font-size: 13px;

  text-align: left;
  padding: 10px 0 10px 10px;
}

#userInfo table th.required_tit::after {
  content: "*";
  color: #ee6a7b;
}

#userInfo table td input[type="text"],
input[type="password"] {
  width: 330px;
  height: 44px;
  padding-left: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

#userInfo table td input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #333;
}

#userInfo table td input::placeholder {
  color: #ccc;
}

#userInfo table td ul.msg {
  font-size: 12px;
  padding: 10px 0;
}

#userInfo table td button {
  color: #5f0080;
  width: 120px;
  height: 44px;
  font-weight: bold;
  border: 1px solid #5f0080;
  border-radius: 4px;
  margin-left: 6px;
  background-color: #fff;
}

/* radio button custom */
.radioBtn {
  font-size: 14px;
  padding-left: 34px;
  margin-right: 56px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.radioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radioBtn input:checked ~ .checkmark {
  background-color: #5f0080;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioBtn input:checked ~ .checkmark:after {
  display: block;
}

.radioBtn .checkmark:after {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
/* 인증번호 버튼 */
#userInfo table button#verification_code {
  color: #cccccc;
  border: 1px solid #ccc;
}

/* 주소검색 버튼 */
#userInfo table td button#search_address {
  width: 330px;
  margin-left: 0;
}

#userInfo table td p#address {
  text-align: left;
}

/* 생년월일 */
#userInfo table td div#birthday_box {
  width: 330px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#userInfo table td div#birthday_box:focus-within {
  border: 1px solid #333;
}

#userInfo table td div#birthday_box span {
  color: #cccccc;
}
#userInfo table td div#birthday_box input {
  width: 84px;
  height: 40px;
  padding-left: 0;
  text-align: center;
  border: none;
  outline: none;
  margin: 0 8px;
}
#userInfo table td span#birthChk {
  color: #ee6a7b;
  font-size: 12px;
}

/* 추가입력사항 */
#userInfo table tr.division_line {
  border-bottom: 1px solid #000;
}

#userInfo table tr.division_line th {
  vertical-align: top;
  padding-top: 22px;
}

#userInfo div#add_input {
  margin-top: 10px;
  display: none;
}

#userInfo div#add_input > p {
  text-align: left;
  padding: 20px 0;
}

/* 이용약관 동의 */
/* checkbox custom */

.checkboxBtn,
.chkeckboxBtn {
  display: inline-block;
  position: relative;
  padding-left: 34px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkboxBtn input:checked ~ .checkbox {
  border: none;
  background-color: #5f0080;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxBtn input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxBtn .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(45deg);
  transform: rotate(40deg);
}

/* 이용약관 */
div#completeAgree span.completeAgree {
  font-size: 17px;
  font-weight: bold;
}

div span.side_tit {
  color: #888;
}

tr#user_agreements div {
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
}

div a.clause {
  color: #5f0080;
  font-size: 14px;
  display: inline-block;
}

#user_agreements div#sms_email {
  padding-left: 30px;
  display: block;
}

#user_agreements div#sms_email p {
  color: #5f0080;
  text-align: left;
  padding-left: 30px;
}

#user_agreements div#sms_email p span {
  color: #333333;
}

button#joinBtn {
  color: #ffffff;
  width: 240px;
  height: 56px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  outline: none;
  margin: 30px 200px;

  background-color: #5f0080;
  cursor: pointer;
}
