@charset "utf-8";

main#main {
  width: 1050px;
  padding-top: 10px;
  margin: 0 auto;
}

#main > p {
  font-size: 12px;
  text-align: right;
}

#main h2 {
  font-weight: 600;
  padding: 30px 0 40px;
}
#main span {
  color: #888888;
  font-size: 14px;
  font-weight: normal;
  margin-left: 14px;
  margin-bottom: 10px;
  display: inline-block;
}

/* 공지사항게시판 */
#main div#noticebbs {
  width: 1050px;
}

#main div#noticebbs h2 {
  height: 70px;
  font-weight: normal;
}

#main div#noticebbs table {
  width: 1050px;
  font-size: 12px;

  border-top: 2px solid #5f0080;
  border-collapse: collapse;
}

#main div#noticebbs table tr th {
  width: 130px;
  height: 48px;
  text-align: left;
  padding-left: 16px;
  border-bottom: 1px solid #eee;
  background-color: #f7f5f8;
}

#main div#noticebbs table tr td {
  border-bottom: 1px solid #eee;
  padding-left: 30px;
}

#main div#noticebbs table tr:nth-child(3) td:nth-child(2) {
  width: 180px;
}

#main div#contents {
  width: 1050px;
  text-align: center;
}

div#listBtn {
  width: 1050px;
  height: 170px;
  text-align: right;
  margin: 0 auto;
}

#listBtn span#bbsList {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #5f0080;
  margin-top: 10px;
  background-color: #795b8f;
  display: inline-block;
}

#listBtn span#bbsList:hover {
  color: #fff;
  background-color: #5f0080;
  cursor: pointer;
}
