@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

/* 공통영역 */
* {
  color: #333;
  font-family: "Noto Sans KR", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {text-decoration: none;}

ul {list-style: none;}

/* header영역 */
header#header {
  width: 100%;
}

div#header_top {
  width: 1050px;
  height: 40px;
  padding-top: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

nav#header_lnb ul#user_lnb {
  font-size: 12px;
  display: flex;
}

nav#header_lnb ul#user_lnb > li > a {
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 8px;
  display: inline-block;
}

/* list  "|" 삽입*/
li.menu::after {
  color: #ddd;
  content: "|";
}

nav#header_lnb ul#user_lnb > li:first-child > a {
  color: #5f0080;
}

nav#header_lnb ul#user_lnb > li span {
  color: #bbb;
  font-size: 13px;
  display: inline-block;
}

ul#user_lnb ul#user_lnbSub {
  border: 1px solid #ddd;
  background-color: #fff;
  position: absolute;
  top: 42px;
  display: none;
  z-index: 1;
}

ul#user_lnb ul#user_lnbSub > li {
  padding: 3px 10px;
}

div#headerLogo {
  width: 500px;
  height: 60px;
  text-align: center;
  /* border: 1px solid #000; */
  margin: 0 auto;
  position: relative;
  top: -20px;

  z-index: 1;
}

/* gnb Menu */

div#gnbArea {
  width: 100%;
  height: 60px;
  background-color: #fff;
  justify-content: space-between;
  border-bottom: 2px solid #f0f0f0;
  box-shadow: 1px 2px 8px #eee;
}

div#gnbTop {
  width: 1050px;
  margin: 0 auto;
  display: flex;
}

#gnb_main > ul {
  display: flex;
}

#gnb_main > ul a {
  width: 140px;
  height: 60px;
  font-size: 17px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#gnb_main > ul > li:first-child > a {
  width: 160px;
}

#gnb_main > ul > li:hover > a,
#gnb_main > ul > li:hover > a > i {
  color: #5f0080;
}

.fixed {
  width: 100%;
  margin: 0 auto;

  position: fixed;
  top: 0;

  z-index: 999;
}


/*전체 카테고리 메뉴 아이콘 구성 */

#gnb_main > ul > li > a i {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: -10px;
}

/* nav#search */
nav#search {
  width: 280px;
  line-height: 60px;
  text-align-last: left;
  margin-top: 5px;
  display: flex;
}

div#search_product {
  width: 230px;
  height: 40px;
  line-height: 40px;
  border-radius: 30px;
  margin-top: 6px;
  background-color: #eee;
  position: relative;
}

div#search_product input {
  height: 30px;
  border: none;
  outline: none;
  background-color: #eee;
  margin: 6px 0 6px 14px;
}

div#search_product button {
  border: none;
  position: absolute;
  right: 10px;
  bottom: 8px;
}

div#cart {
  padding: 4px;
  margin-left: 10px;
}

/* gnb_subMenu 전체카테고리 */
div#gnbArea_sub {
  width: 1050px;
  margin: 0 auto;
  position: relative;
  top: -12px;
  z-index: 999;
  display: none;
}

nav#gnb_sub {
  width: 220px;
  border: 1px solid #eee;
  background-color: #fff;
}

nav#gnb_sub > ul > li > a {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  /* border: 1px solid #000; */
  display: inline-flex;
}

nav#gnb_sub > ul > li:hover > a {
  color: #5f0080;
  font-weight: bold;
  background-color: rgba(151, 151, 151, 0.2);
}

nav#gnb_sub > ul > li > a > img {
  padding: 8px;
}

nav#gnb_sub > ul > li > a > img.icon_on {
  padding: 8px;
  display: none;
}

nav#gnb_sub > ul > li > a > span.sub_title {
  height: 40px;
  /* border: 1px solid #000; */
  display: inline-block;
}

nav#gnb_sub > ul > li > a:hover > span {
  color: #5f0080;
}

#gnb_sub ul.innerGnb_sub {
  width: 220px;
  height: 722px;
  border-right: 1px solid #eee;
  background-color: #eee;

  position: absolute;
  top: 0;
  left: 218px;

  transform: translate(-1px, -1px);
  z-index: 999;
  display: none;
}

#gnb_sub ul.innerGnb_sub li > a {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-left: 8px;
}

#gnb_sub ul.innerGnb_sub li:hover a {
  color: #5f0080;
  font-weight: bold;
  text-decoration: underline;
}


/* side menu */
div#quick_lnb {
  position: absolute;
  right: 20px;
  top: 540px;
}

#quick_lnb ul#quick_menu {
  width: 80px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
}

#quick_lnb ul#quick_menu li {
  height: 30px;
  line-height: 30px;
}

#quick_lnb ul#quick_menu li:not(:first-child) {
  border-top: 1px solid #ddd;
}

main#main {
    width: 1050px;
    padding-top: 10px;
    margin: 0 auto;
}

#main>p {
    font-size: 12px;
    text-align: right;
}

#main h2 {
    font-weight: 600;
    padding: 30px 0 40px;
}
#main span {
    color: #888888;
    font-size: 14px;
    font-weight: normal;
    margin-left: 14px;
    margin-bottom: 10px;
    display: inline-block;
}

/* 공지사항게시판 */
#main div#noticebbs {
    width: 1050px;
}

#main div#noticebbs h2 {
 height: 70px;
 font-weight: normal;
}

#main div#noticebbs table {
  width: 1050px;
  font-size: 12px;

  border-top: 2px solid #5f0080;
  border-collapse: collapse;
}

#main div#noticebbs table tr th {
  width: 130px;
  height: 48px;
  text-align: left;
  padding-left: 16px;
  border-bottom: 1px solid #eee;
  background-color: #f7f5f8;
}

#main div#noticebbs table tr td {
    border-bottom: 1px solid #eee;
    padding-left: 30px;
}

#main div#noticebbs table tr:nth-child(3) td:nth-child(2) {
    width: 180px;
}

#main div#contents {
    width: 1050px;
    text-align: center;
}

div#listBtn {
    width: 1050px;
    height: 170px;
    text-align: right;
    margin: 0 auto;
  }

#listBtn span#bbsList {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #5f0080;
  margin-top: 10px;
  background-color: #795b8f;
  display: inline-block;
}

#listBtn span#bbsList:hover {
  color: #fff;
  background-color: #5f0080;
  cursor: pointer;
}


/* footer */
footer#footer {
    width: 1050px;
    border-bottom: 1px solid #ddd;
    margin: 20px auto;
    display: flex;
  }
  
  /* footer 고객센터 */
  #footer div#costomerArea h2 {
    font-size: 20px;
    padding: 14px 0;
  }
  
  #footer div#costomerLayout {
    width: 500px;
    display: flex;
  }
  
  #costomerArea div#customer_center {
    width: 140px;
  }
  
  #costomerArea div#customer_center h1 {
    font-size: 28px;
    padding: 10px 0;
  }
  
  #customer_center button {
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 10px;
    border: 1px solid #ddd;
    outline: none;
    margin: 8px 0;
    background-color: #fff;
  }
  
  #costomerArea ul#centerTm {
  
    padding: 10px;
  }
  
  #costomerArea ul#centerTm li {
    font-size: 13px;
    margin-bottom: 20px;
  }
  
  #costomerArea ul#centerTm li span {
    color: #888888;
    display: block;
  }
  
  /* 회사정보 */
  div#corpInfo {
    width: 550px;
  }
  
  #corpInfo nav#footer_lnb ul {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
  }
  
  
  #corpInfo nav#footer_lnb ul li a {
    padding: 10px 20px 10px 0;
    display: inline-block;
  }
  
  #corpInfo nav#footer_lnb ul li:nth-child(5) {
    font-weight: bold;
  } 
  
  #company ul li{
    color: #888888;
    font-size: 12px;
  }
  
  #company ul li a {
    color: #5f0080;
  }
  
  #company span {
    color: #888888;
    font-size: 10px;
    padding: 10px 0;
    margin-top: 26px;
    display: inline-block;
  }
  
  #company ul#sns {
    width: 200px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  
  /* footer#footer_link */
  footer#footer_link{
    width: 1050px;
    height: 100px;
    margin: 0 auto;
    display: flex;
  }
  
  #footer_link td.certificate {
    padding-right: 20px;
  }
  
  #footer_link td  a{
    color: #888888;
    font-size: 11px;
    display: inline-block;
  }

  /* 페이지상단이동버튼 */
a#pageTop {
    width: 58px;
    height: 58px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #eee;
    border-radius: 58px;
    display: inline-block;
    background-color: #fff;
  
    position: fixed;
    bottom: 20px;
    right: 10px;
  
    display: none;
  }
  
  a#pageTop:hover {
    background-color: #f7f7f7;
  }