@charset "utf-8";

main#main {
  width: 1050px;
  padding-top: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#main div#customer_center {
  position: relative;
}

#main div#customer_center h2 {
  height: 70px;
  font-size: 30px;
  font-weight: 700;
}

#main div#customer_center li {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

#main div#customer_center li:not(:first-child) {
  border-top: none;
}

#main div#customer_center li#choose {
  background-color: #f7f7f7;
}

#main div#customer_center li#choose > a,
li#choose > span {
  color: #5f0080;
}

#main div#customer_center li > a {
  width: 200px;
  font-size: 12px;
  padding-left: 20px;
  display: inline-block;
}

#main div#customer_center ul#lnb_menu li#choose i {
  color: #5f0080;
}
#main div#customer_center i {
  color: #888;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  display: inline-block;
  position: absolute;
  right: 4px;
}

#main div#bbsShortcut {
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 10px 12px 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 10px 0;
  background-color: #f7f7f7;
}

#main div#bbsShortcut a {
  color: #666666;
}

#main div#bbsShortcut i {
  color: #5f0080;
  padding-top: 10px;
}

#main div#bbsShortcut span {
  color: #666666;
  font-size: 12px;
  font-weight: normal;
}

/* 문의게시글 작성 */
#main div#QnAbbs {
  width: 820px;
}

#main div#QnAbbs h2 {
  height: 70px;
  font-weight: normal;
}

#main div#QnAbbs table {
  width: 820px;
  font-size: 12px;

  border-top: 2px solid #5f0080;
  border-collapse: collapse;
}

#main div#QnAbbs table tr th {
  width: 114px;
  font-weight: normal;
  text-align: left;
  padding-left: 16px;
  border-bottom: 1px solid #eee;
  background-color: #f7f5f8;
}

#main div#QnAbbs table tr:first-child > th {
  height: 100px;
}

#main div#QnAbbs table tr:nth-child(2) > th,
table tr:nth-child(3) > th,
table tr:nth-child(4) > th {
  height: 60px;
}
#main div#QnAbbs table tr td {
  width: 706px;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
}

#main div#QnAbbs table select {
  width: 134px;
  height: 34px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin-bottom: 4px;
}

#main div#QnAbbs table input#title {
  width: 696px;
}

#main div#QnAbbs table input {
  height: 30px;
  border: 1px solid #ccc;
}

#main div#QnAbbs table tr td button {
  color: #ffffff;
  width: 100px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #5f0080;
  margin-left: 4px;
  background-color: #795b8f;
  display: inline-block;
}

#main div#QnAbbs table tr td button:hover {
  color: #fff;
  background-color: #5f0080;
  cursor: pointer;
}

#main div#QnAbbs table tr td label {
  margin-left: 10px;
}

#main div#QnAbbs table tr td label input {
  height: 20px;
  border: 1px solid #000;
  position: relative;
  top: 5px;
}

#main div#QnAbbs table tr:nth-child(5) {
  height: 773px;
}

#main div#QnAbbs table tr:nth-child(5) td {
  vertical-align: top;
  padding-top: 10px;
}

#main div#QnAbbs table tr:nth-child(5) td > span {
  padding: 14px 0;
  display: inline-block;
}

#main div#QnAbbs table tr:nth-child(5) dl {
  padding: 8px 0;
}

#main div#QnAbbs table tr:nth-child(5) dt {
  font-size: 11px;
  font-weight: bold;
}

#main div#QnAbbs table tr:nth-child(5) span#warning {
  color: #5f0080;
}

#main div#QnAbbs table tr:nth-child(5) textarea {
  width: 100%;
  height: 474px;
  border: 1px solid #ccc;
  margin-top: 14px;
}

#main div#QnAbbs table tr:last-child {
  height: 70px;
}

#main div#QnAbbs table tr:last-child div#choose_file {
  padding: 4px 2px;
  border: 1px solid #ccc;
}

#main div#QnAbbs table tr:last-child input[type="file"] {
  padding-top: 2px;
  border: none;
}

div#content {
  width: 1050px;
  height: 170px;
  text-align: right;
  margin: 0 auto;
}

#content span#writeBtn {
  color: #ffffff;
  width: 150px;
  line-height: 42px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #5f0080;
  margin-top: 10px;
  background-color: #795b8f;
  display: inline-block;
}

#content span#writeBtn:hover {
  color: #fff;
  background-color: #5f0080;
  cursor: pointer;
}
